<div>
  <div>
    <h1>
      Collections
    </h1>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Add a new collection
    </h2>

    <form action="/insert_collection" method="post">
      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <div>
        <label for="image_box">
          Month
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>


      <button>
        Create collection
      </button>
    </form>
  </div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>


        <th>
          Collection Name
        </th>

        <th>
          Month
        </th>
        
        <th>
          Description
        </th>

      </tr>

      <% @list_of_collections.each do |a_collection| %>
      <tr>
        <td>
          <%= a_collection.name %>
        </td>

        <td>
          <%= a_collection.month %>
        </td>

        <td>
          <%= a_collection.description %>
        </td>

        <td>
          <%#= time_ago_in_words(a_collection.created_at) %> 
        </td>
        <td>
          <%#= time_ago_in_words(a_collection.updated_at) %> 
        </td>

        <td>
          <a href="/collections/<%= a_collection.id %>">
            Show details
          </a>
        </td>
      </tr>
      
    </table>

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= a_collection.name %></h5>
    <p class="card-text">See my June favorites</p>
    <a href="/collections/<%= a_collection.id %>" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<% end %>
  </div>
</div>

<hr>
