<div>
  <div>
    <h1>
      Item #<%= @the_item.id %> details
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_item.caption %>
      </dd>

      <dt>
        Image
      </dt>

      <dd>
          <img src= <%= @the_item.image %> >
      </dd>


      <dt>
        Collection
      </dt>
      <dd>
        <%= @the_item.collection_id %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_item.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_item.likes_count %>
      </dd>

    
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" value="<%= @the_item.caption %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_item.image %>">
      </div>

      <div>
        <label for="collection_id_box">
          Collection
        </label>

        <input type="text" id="collection_id_box" name="query_collection_id" value="<%= @the_item.collection_id %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_item.comments_count %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_item.likes_count %>">
      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>
