<!DOCTYPE html>
<html>
  <head>
    
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Yeseva+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>


    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>



  <body>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> Home </a>
    <img src="logo.png" alt="Savannahs Logo" width="80" height="80" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/collections">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galleries">The Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Join
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user_sign_in">Sign In</a></li>
            <li><a class="dropdown-item" href="/user_sign_up">Sign Up</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/user_sign_out">Sign Out</a></li>
          </ul>
        </li>
       
      </ul>
  
    </div>
  </div>
</nav>


    
    
  
  

      <% if session.fetch(:user_id) == nil %>
   
        <a href="/user_sign_in"></a>
     
  
        <a href="/user_sign_up"> </a>
     
      <% else %>
   
        <a href="/user_sign_out"> </a>
 
      <% end %>

    
    <p><%= notice %></p>

    <p><%= alert %></p>


    <%= yield %>
  </body>
</html>
